/*  your css code here. If applicable */
.box{
	background-color:lightblue;
	height:"200px";
	width:"200px";
	padding: 100px;
    margin: 100px;
	border:2px solid black;
	border-width:2px;
	 line-height: 100px;
	text-align:center;
	color:purple;
}